/*Syntax CSS

Selector {propert: value property: value;}

*/

/*(*) symbol specify the universal selector meanigng, we select all HTML elements*/
*{
	font-family: "Roboto", sans-serif;
}



h1, h3 {
	font-family: 'Montserrat', sans-serif;
}

img {
	height: 250px;
	width: 250px;
}

#landing {
	/*ch - viewport height - a determined or measured percentage of the height of the device you are viewing your webpage in*/
	height: 80vh;
	/*flexbox - display: flex - will allow us to arrange or layout the elements inside our landing section vertically and horizontally*/
	display: flex;
	/*flex-direction changes the direction of the elements inside an element with display: flex*/
	/*flex-direction: column; - arranges the flex items into a column*/
	flex-direction: column;
	/*align-items - arranges elements vertically IF the flex items are in a row. However, it arranges elemets horizontally if the flex items are in a column*/
	/*align-items: center - arranges all flex items in to be centered*/
	align-items: center;
	/*justif-content - arranges elements horizontally IF the flex items are in a row., However,it arranges elements horizontally IF the flex items are in a column*/
	justify-content: center;
}

#gallery
{
	height: 75vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
ul{
	list-style: none;
	padding: 0;
}

.tools{
	border: 5px solid #f2f2f2;
	margin: 20px;
	padding: 25px;
	height: 200px;
	width: 75%;
}

html. {
	scroll.behavior: smooth;
}